{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.matricule) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
  

        {# <button type="submit" class="btn btn-primary">S'inscrire</button> #}
    {{ form_end(form) }}
{% endblock %}