{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Liste des Pointages</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Collaborateur</th>
                    <th>Chantier</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody>
                {% for pointage in Pointages %}
                    <tr>
                        <td>{{ pointage.clocking.date|date('Y-m-d') }}</td>
                        <td>{{ pointage.clocking.clockingUser.firstName }} {{ pointage.clocking.clockingUser.lastName }}</td>
                        <td>{{ pointage.project.name }}</td>
                        <td>{{ pointage.duration }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
