{% extends 'base.html.twig' %}

{% block body %}
<main class="container mt-5">
    <h1 class="mb-4">Liste des Projets</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>{{ 'entity.Project.name'|trans }}</th>
                    <th>{{ 'entity.Project.address'|trans }}</th>
                    <th>{{ 'entity.Project.dateStart'|trans }}</th>
                    <th>{{ 'entity.Project.dateEnd'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td>{{ project.address }}</td>
                        <td>{{ project.dateStart|date('Y-m-d') }}</td>
                        <td>{{ project.dateEnd|date('Y-m-d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}